echo "venv/" >> .gitignore
echo "__pycache__/" >> .gitignore
echo "db.sqlite3" >> .gitignore  # Se estiver usando SQLite
echo ".env" >> .gitignore        # Arquivos de variáveis de ambiente (como chaves secretas)
